# Variables y operaciones basicas

Bienvenidos a su primer notebook del curso! En esta ocasion veremos como crear una variable en python, los distintos tipos de variables que existen y ademas las operaciones basicas que podemos realizar con ellas.

En python una variable es creada cuando se le asigna un valor. Por ejemplo creemos la variable x que guarda el valor numerico 5

In [1]:
x = 5

De ahora en adelante, cada vez que consultemos por la variable x, esta nos dira que valor tiene guardado

In [2]:
x

5

Solo podemos llamar variables que hayan sido creadas, veamos que pasa al consultar por la variable y

In [3]:
y

NameError: name 'y' is not defined

Esto genera un error y en especifico nos indican que 'y' no esta definido

In [4]:
y = 'Hola'

In [5]:
y

'Hola'

## Variables numericas

Las primeras variables que estudiaremos seran las variables numericas. Existen distintos tipos de variables numericas, en esta oportunidad nos enfocaremos en dos: 
* int
* float

In [15]:
num1 = 5
type(num1)

int

In [16]:
num2 = 8
type(num2)

int

In [17]:
num3 = 1.58
type(num3)

float

Por defecto, python soporta la mayoria de las operaciones aritmeticas

In [19]:
# suma
5 + 3

8

In [20]:
# multiplicacion
5*5

25

In [21]:
# potencia
5**2

25

In [23]:
# suma entre distintos tipos de variables numericas
3+1.14

4.14

Para cualquier variable numerica, tambien podemos efectuar estas operaciones

In [18]:
num1 + num2

13

In [22]:
num2**2

64

In [24]:
num1 / num3

3.1645569620253164

## Strings

Otro tipo de variables son los strings. Un string en python se declara entre medio de comillas simples o dobles y puede contener cualquier digito, numero o signo de nuestro teclado

In [27]:
'Hola'

'Hola'

In [28]:
"Hola mundo"

'Hola mundo'

In [29]:
str1 = "Tamara"

In [31]:
str2 = 'IMT2000'

Al igual que con las variables numericas, existen operaciones para strings que python soporta por defecto

In [32]:
# Concatenar
'Hola'+'Tamara'

'HolaTamara'

In [33]:
# Repetir
'Hola'*2

'HolaHola'

Sin embargo, hay operaciones que estan restringidas a variables de un tipo definido

In [35]:
# Multiplicar string?
'Hola'*'Chao'

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
# Restar string?
'Hola'-'a'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Booleanos

## Listas

Un tipo de dato muy util son las listas. Las listas se usan para guardar multiples items en una misma variable. Para crear una lista la denotamos con parentesis cuadrados y separamos los items con comas

In [40]:
list1 = [5,3,4,7]

No todos los elementos de una lista deben ser del mismo tipo

In [41]:
list2 = [5, 'Hola', True]

Podemos guardar elementos dentro de una lista

In [42]:
x1 = 5
x2 = 'Tamara'
x3 = False

list3 = [x1,x2,x3]

Los elementos dentro de una lista tienen indices que parten del 0. Para acceder al primer elemento hacemos lista[0]

In [44]:
print(list3[0])
print(list3[1])

5
Tamara

In [45]:
# Largo de una lista

## Diccionarios