# Variables y operaciones basicas

Bienvenidos a su primer notebook del curso! En esta ocasion veremos como crear una variable en python, los distintos tipos de variables que existen y ademas las operaciones basicas que podemos realizar con ellas.

En python una variable es creada cuando se le asigna un valor. Por ejemplo creemos la variable x que guarda el valor numerico 5

In [1]:
x = 5

De ahora en adelante, cada vez que consultemos por la variable x, esta nos dira que valor tiene guardado

In [2]:
x

5

Solo podemos llamar variables que hayan sido creadas, veamos que pasa al consultar por la variable y

In [3]:
y

NameError: name 'y' is not defined

Esto genera un error y en especifico nos indican que 'y' no esta definido

In [4]:
y = 'Hola'

In [5]:
y

'Hola'

## Variables numericas

Las primeras variables que estudiaremos seran las variables numericas. Existen distintos tipos de variables numericas, en esta oportunidad nos enfocaremos en dos: 
* int
* float

In [15]:
num1 = 5
type(num1)

int

In [16]:
num2 = 8
type(num2)

int

In [17]:
num3 = 1.58
type(num3)

float

Por defecto, python soporta la mayoria de las operaciones aritmeticas

In [19]:
# suma
5 + 3

8

In [20]:
# multiplicacion
5*5

25

In [21]:
# potencia
5**2

25

In [23]:
# suma entre distintos tipos de variables numericas
3+1.14

4.14

Para cualquier variable numerica, tambien podemos efectuar estas operaciones

In [18]:
num1 + num2

13

In [22]:
num2**2

64

In [24]:
num1 / num3

3.1645569620253164

## Strings

Otro tipo de variables son los strings. Un string en python se declara entre medio de comillas simples o dobles y puede contener cualquier digito, numero o signo de nuestro teclado

In [27]:
'Hola'

'Hola'

In [28]:
"Hola mundo"

'Hola mundo'

In [29]:
str1 = "Tamara"

In [31]:
str2 = 'IMT2000'

Al igual que con las variables numericas, existen operaciones para strings que python soporta por defecto

In [32]:
# Concatenar
'Hola'+'Tamara'

'HolaTamara'

In [33]:
# Repetir
'Hola'*2

'HolaHola'

Sin embargo, hay operaciones que estan restringidas a variables de un tipo definido

In [35]:
# Multiplicar string?
'Hola'*'Chao'

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
# Restar string?
'Hola'-'a'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Booleanos

Los booleanos son tipos de datos que tienen dos valores posibles: verdadero o falso (True or False). Al igual que otros tipos de datos, pueden ser asignados a variables

In [1]:
variable_booleana = True

In [2]:
variable_booleana

True

Las variables booleanas aparecen naturalmente al hacer operaciones de comparacion entre otros datos. Por ejemplo:

In [3]:
# Comparemos dos numeros

5 > 3

True

In [4]:
3 < 1

False

In [5]:
5 == 7

False

In [6]:
dato_numerico = 10

In [ ]:
dato_numerico == 10

Tambien tenemos operaciones logicas entre booleanos

In [29]:
True and True

True

In [28]:
True and False

False

In [27]:
False and False

False

In [31]:
True or True

True

In [30]:
True or False

True

In [32]:
True or False

True

## Listas

Un tipo de dato muy util son las listas. Las listas se usan para guardar multiples items en una misma variable. Para crear una lista la denotamos con parentesis cuadrados y separamos los items con comas

In [9]:
list1 = [5,3,4,7]

No todos los elementos de una lista deben ser del mismo tipo

In [10]:
list2 = [5, 'Hola', True]

Podemos guardar elementos dentro de una lista

In [11]:
x1 = 5
x2 = 'Tamara'
x3 = False

list3 = [x1,x2,x3]

Los elementos dentro de una lista tienen indices que parten del 0. Para acceder al primer elemento hacemos lista[0]

In [12]:
print(list3[0])
print(list3[1])

5
Tamara

El operador `in` nos permite revisar si un valor se encuentra o no en una lista

In [52]:
list3

[5, 'Tamara', False, 'Nuevo elemento']

In [50]:
'Tamara' in list3

True

In [51]:
'Cucumides' in list3

False

Para saber el largo de una lista, podemos usar la funcion len()

In [13]:
# Largo de una lista

In [14]:
len(list3)

3

Podemos agregar un nuevo elemento a una lista utilizando el metodo `append()`. En este caso, el nuevo elemento se agrega al final

In [23]:
list3

[5, 'Tamara', False]

In [24]:
list3.append("Nuevo elemento")

In [25]:
list3

[5, 'Tamara', False, 'Nuevo elemento']

Si queremos poner un elemento en una posicion determinada, usamos `insert()`

In [33]:
list2

[5, 'Hola', True]

In [34]:
list2.insert(0,"Nuevo Primer elemento")

In [35]:
list2

['Nuevo Primer elemento', 5, 'Hola', True]

In [36]:
list2.insert(0,"Nuevo Segundo elemento")

In [40]:
list2

['Nuevo Segundo elemento', 'Nuevo Primer elemento', 5, 'Hola', True]

Si los tipos de los elementos de las listas son comparables, puedo ordenarla:

In [41]:
list4 = [5,10,7,3,2]

In [43]:
list4.sort()

In [44]:
list4

[2, 3, 5, 7, 10]

Más metodos para listas: https://docs.python.org/3/tutorial/datastructures.html

## Conjuntos (sets)

Como las listas, pero no son ordenados y no admiten repeticiones. Pueden revisar la documentacion aqui: https://docs.python.org/3/tutorial/datastructures.html#sets

In [46]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [47]:
'apple' in basket

True

In [48]:
sin_repeticiones = {5,5,5,5,3,2,1,1,1}

In [49]:
sin_repeticiones

{1, 2, 3, 5}

## Diccionarios

Los diccionarios son un tipo de datos que sirven para guardar pares llave-valor. La llave es un tipo de identificador de cada dato guardado y el valor es, bueno, el valor que toma. Por ejemplo, puedo querer guardar informacion acerca de una persona tal como:
* su edad
* su correo
* su nombre
* sus pronombres

In [15]:
datos_Tamara = {"nombre": 'Tamara Cucumides',
               "correo": 'tacucumides@uc.cl',
               "edad": 27,
               "pronombres": ['ella','la']}

La estructtura en la que se guarda es "llave": valor. Veamos como acceder a los distintos valores a partir de las llaves:

In [17]:
datos_Tamara

{'nombre': 'Tamara Cucumides',
 'correo': 'tacucumides@uc.cl',
 'edad': 27,
 'pronombres': ['ella', 'la']}

In [16]:
datos_Tamara["nombre"]

'Tamara Cucumides'

In [18]:
datos_Tamara["edad"]

27

In [19]:
datos_Tamara["pronombres"]

['ella', 'la']

Puedo listar las keys y los values

In [38]:
datos_Tamara.keys()

dict_keys(['nombre', 'correo', 'edad', 'pronombres'])

In [39]:
datos_Tamara.values()

dict_values(['Tamara Cucumides', 'tacucumides@uc.cl', 27, ['ella', 'la']])

Más de diccionarios: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

# Ejercicios

Considere los siguientes datos:

In [20]:
ex_list1 = [1,5,7,8,9,6]
ex_list2 = ['Hola', 'Chao', 97, 'tres']

1. Sume el primer y el segundo elemento de la lista `ex_list1`

In [ ]:
# Solucion 1

2. Agregue a `ex_list2` un nuevo elemento que sea la concatenacion del primer y segundo elemento de esa misma lista

In [21]:
# Solucion 2

3. Cree un diccionario para guardar las notas de un estudiante de IMT2000. Debe guardar: el numero de alumno, las notas de los controles 1,2,3 y la nota del proyecto

In [22]:
# Solucion 3

4. En el diccionario que creo en el punto 3, cree un nuevo campo que indique el promedio de notas de los tres controles

In [ ]:
# Solucion 4

5. Cree un nuevo campo (en el diccionario) que indique si el alumno fue o no aprobado, es decir, si aprobo tanto los controles como el proyecto

In [ ]:
# Solucion 5