# Variables y operaciones basicas

Bienvenidos a su primer notebook del curso! En esta ocasion veremos como crear una variable en python, los distintos tipos de variables que existen y ademas las operaciones basicas que podemos realizar con ellas.

En python una variable es creada cuando se le asigna un valor. Por ejemplo creemos la variable x que guarda el valor numerico 5

In [1]:
x = 5

De ahora en adelante, cada vez que consultemos por la variable x, esta nos dira que valor tiene guardado

In [2]:
x

5

Solo podemos llamar variables que hayan sido creadas, veamos que pasa al consultar por la variable y

In [3]:
y

NameError: name 'y' is not defined

Esto genera un error y en especifico nos indican que 'y' no esta definido

In [5]:
y = 'Hola'

In [6]:
y

'Hola'

In [7]:
tamara = 8

In [8]:
tamara

8

In [9]:
Tamara

NameError: name 'Tamara' is not defined

## Variables numericas

Las primeras variables que estudiaremos seran las variables numericas. Existen distintos tipos de variables numericas, en esta oportunidad nos enfocaremos en dos: 
* int
* float

In [10]:
num1 = 5
type(num1)

int

In [11]:
num1

5

In [12]:
num2 = 8
type(num2)

int

In [13]:
num3 = 1.58
type(num3)

float

In [14]:
num3

1.58

In [18]:
type("Hola")

str

Por defecto, python soporta la mayoria de las operaciones aritmeticas

In [20]:
# suma
suma = 5 + 3

In [21]:
suma

8

In [22]:
# multiplicacion
5*5

25

In [24]:
# potencia
5**3

125

In [26]:
# suma entre distintos tipos de variables numericas
suma_distintos_tipos = 3+1.14

In [27]:
type(suma_distintos_tipos)

float

Para cualquier variable numerica, tambien podemos efectuar estas operaciones

In [28]:
num1

5

In [29]:
num2

8

In [30]:
num1 + num2

13

In [31]:
num2**2

64

In [33]:
num3

1.58

In [47]:
resultadoDivision = num1/num3

In [48]:
resultadoDivision

3.1645569620253164

Podemos extraer la parte entera (int()) y redondear (round())  una variable de tipo float

In [70]:
var5 = 3.966687

In [71]:
int(var5)

3

In [72]:
round(var5)

4

## Strings

Otro tipo de variables son los strings. Un string en python se declara entre medio de comillas simples o dobles y puede contener cualquier digito, numero o signo de nuestro teclado

In [73]:
'Hola'

'Hola'

In [74]:
"Hola mundo"

'Hola mundo'

In [75]:
str1 = "Tamara"

In [76]:
str2 = 'IMT2000'

In [77]:
str1

'Tamara'

In [78]:
str2

'IMT2000'

Al igual que con las variables numericas, existen operaciones para strings que python soporta por defecto

In [79]:
# Concatenar
'Hola'+'Tamara'

'HolaTamara'

In [80]:
'Hola'+3.18

TypeError: can only concatenate str (not "float") to str

In [69]:
# Repetir
'Hola'*8

'HolaHolaHolaHolaHolaHolaHolaHola'

Sin embargo, hay operaciones que estan restringidas a variables de un tipo definido

In [81]:
# Multiplicar string?
'Hola'*'Chao'

TypeError: can't multiply sequence by non-int of type 'str'

In [82]:
# Restar string?
'Hola'-'a'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [85]:
str4 = 'Suerte'

In [86]:
str4.upper()

'SUERTE'

In [87]:
str4.lower()

'suerte'

## Booleanos

Los booleanos son tipos de datos que tienen dos valores posibles: verdadero o falso (True or False). Al igual que otros tipos de datos, pueden ser asignados a variables

In [88]:
variable_booleana = True

In [89]:
variable_booleana

True

Las variables booleanas aparecen naturalmente al hacer operaciones de comparacion entre otros datos. Por ejemplo:

In [90]:
# Comparemos dos numeros

5 > 3

True

In [91]:
3 < 1

False

In [92]:
# Para comparar dos variables, usamos doble signo =
5 == 7

False

In [93]:
# Asignando una variable con solo un =
dato_numerico = 10

In [94]:
dato_numerico

10

In [96]:
# Realizando una comparacion, con dos =

dato_numerico == 11

False

Tambien tenemos operaciones logicas entre booleanos

In [97]:
True and True

True

In [98]:
True and False

False

In [99]:
False and False

False

In [100]:
True or True

True

In [101]:
True or False

True

In [102]:
False or False

False

In [103]:
5>3 and 1<5

True

## Listas

Un tipo de dato muy util son las listas. Las listas se usan para guardar multiples items en una misma variable. Para crear una lista la denotamos con parentesis cuadrados y separamos los items con comas

In [1]:
list1 = [5,3,4,7]

In [2]:
print(list1)

[5, 3, 4, 7]

No todos los elementos de una lista deben ser del mismo tipo

In [4]:
list2 = [5, 'Hola', True]

Podemos guardar elementos dentro de una lista

In [5]:
x1 = 5
x2 = 'Tamara'
x3 = False

list3 = [x1,x2,x3]

In [6]:
list3

[5, 'Tamara', False]

In [7]:
list4 = [list3, 7]

In [8]:
list4

[[5, 'Tamara', False], 7]

Los elementos dentro de una lista tienen indices que parten del 0. Para acceder al primer elemento hacemos lista[0]

In [9]:
list3

[5, 'Tamara', False]

In [11]:
print(list3[0])
print(list3[2])

5
False

El operador `in` nos permite revisar si un valor se encuentra o no en una lista

In [12]:
list3

[5, 'Tamara', False]

In [13]:
'Tamara' in list3

True

In [14]:
'Cucumides' in list3

False

Para saber el largo de una lista, podemos usar la funcion len()

In [16]:
# Largo de una lista
list3

[5, 'Tamara', False]

In [15]:
len(list3)

3

Podemos agregar un nuevo elemento a una lista utilizando el metodo `append()`. En este caso, el nuevo elemento se agrega al final

In [17]:
list3

[5, 'Tamara', False]

In [18]:
list3.append("Nuevo elemento")

In [19]:
list3

[5, 'Tamara', False, 'Nuevo elemento']

Si queremos poner un elemento en una posicion determinada, usamos `insert()`

In [20]:
list2

[5, 'Hola', True]

In [21]:
list2.insert(0,"Nuevo Primer elemento")

In [22]:
list2

['Nuevo Primer elemento', 5, 'Hola', True]

In [23]:
list2.insert(1,"Nuevo Segundo elemento")

In [24]:
list2

['Nuevo Primer elemento', 'Nuevo Segundo elemento', 5, 'Hola', True]

Si los tipos de los elementos de las listas son comparables, puedo ordenarla:

In [25]:
list4 = [5,10,7,3,2]

In [26]:
list4.sort()

In [27]:
list4

[2, 3, 5, 7, 10]

Más metodos para listas: https://docs.python.org/3/tutorial/datastructures.html

In [28]:
list2

['Nuevo Primer elemento', 'Nuevo Segundo elemento', 5, 'Hola', True]

In [29]:
list1

[5, 3, 4, 7]

In [30]:
list1 + list2

[5,
 3,
 4,
 7,
 'Nuevo Primer elemento',
 'Nuevo Segundo elemento',
 5,
 'Hola',
 True]

In [32]:
list2*5

['Nuevo Primer elemento',
 'Nuevo Segundo elemento',
 5,
 'Hola',
 True,
 'Nuevo Primer elemento',
 'Nuevo Segundo elemento',
 5,
 'Hola',
 True,
 'Nuevo Primer elemento',
 'Nuevo Segundo elemento',
 5,
 'Hola',
 True,
 'Nuevo Primer elemento',
 'Nuevo Segundo elemento',
 5,
 'Hola',
 True,
 'Nuevo Primer elemento',
 'Nuevo Segundo elemento',
 5,
 'Hola',
 True]

## Conjuntos (sets)

Como las listas, pero no son ordenados y no admiten repeticiones. Pueden revisar la documentacion aqui: https://docs.python.org/3/tutorial/datastructures.html#sets

In [33]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [34]:
'apple' in basket

True

In [35]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [36]:
sin_repeticiones = {5,5,5,5,3,2,1,1,1}

In [37]:
sin_repeticiones

{1, 2, 3, 5}

## Diccionarios

Los diccionarios son un tipo de datos que sirven para guardar pares llave-valor. La llave es un tipo de identificador de cada dato guardado y el valor es, bueno, el valor que toma. Por ejemplo, puedo querer guardar informacion acerca de una persona tal como:
* su edad
* su correo
* su nombre
* sus pronombres

In [38]:
datos_Tamara = {"nombre": 'Tamara Cucumides',
               "correo": 'tacucumides@uc.cl',
               "edad": 27,
               "pronombres": ['ella','la']}

In [39]:
lista_datos = ['Tamara', 27, ['ella','la']]

In [41]:
lista_datos[0]

'Tamara'

In [42]:
datos_Tamara["nombre"]

'Tamara Cucumides'

La estructura en la que se guarda es "llave": valor. Veamos como acceder a los distintos valores a partir de las llaves:

In [43]:
datos_Tamara

{'nombre': 'Tamara Cucumides',
 'correo': 'tacucumides@uc.cl',
 'edad': 27,
 'pronombres': ['ella', 'la']}

In [44]:
datos_Tamara["nombre"]

'Tamara Cucumides'

In [45]:
datos_Tamara["edad"]

27

In [46]:
datos_Tamara["pronombres"]

['ella', 'la']

Puedo listar las keys y los values

In [47]:
datos_Tamara.keys()

dict_keys(['nombre', 'correo', 'edad', 'pronombres'])

In [48]:
datos_Tamara.values()

dict_values(['Tamara Cucumides', 'tacucumides@uc.cl', 27, ['ella', 'la']])

Más de diccionarios: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

# Ejercicios

Considere los siguientes datos:

In [53]:
ex_list1 = [1,5,7,8,9,6]

ex_list2 = ['Hola', 'Chao', 97, 'tres']

1. Sume el primer y el segundo elemento de la lista `ex_list1`

In [55]:
# Solucion 1

ex_list1[0] + ex_list1[1]

6

2. Agregue a `ex_list2` un nuevo elemento que sea la concatenacion del primer y segundo elemento de esa misma lista

In [56]:
ex_list2

['Hola', 'Chao', 97, 'tres']

In [57]:
var_aux = ex_list2[0] + ex_list2[1]

In [58]:
var_aux

'HolaChao'

In [59]:
ex_list2.append(var_aux)

In [60]:
print(ex_list2)

['Hola', 'Chao', 97, 'tres', 'HolaChao']

In [61]:
# Podemos hacer todo de una
ex_list2.append(ex_list2[0] + ex_list2[1])

In [62]:
ex_list2

['Hola', 'Chao', 97, 'tres', 'HolaChao', 'HolaChao']

3. Cree un diccionario para guardar las notas de un estudiante de IMT2000. Debe guardar: el numero de alumno, las notas de los controles 1,2,3 y la nota del proyecto

In [64]:
# Solucion 3

dicc_Alumno = {"num_alumno":112233,
              "NC1": 6,
              "NC2": 5,
              "NC3": 4,
              "NP": 7}

In [65]:
dicc_Alumnov2 = {"num_alumno":112233,
                 "NControles":[6,5,4],
                 "NP": 7}

4. En el diccionario que creo en el punto 3, cree un nuevo campo que indique el promedio de notas de los tres controles

In [ ]:
# Solucion 4

5. Cree un nuevo campo (en el diccionario) que indique si el alumno fue o no aprobado, es decir, si aprobo tanto los controles como el proyecto

In [ ]:
# Solucion 5