# Pandas - introduccion y lectura de datos

Ya hemos visto los elementos basicos para poder programar cosas simples en python. Ahora nos moveremos hacia herramientas que nos permiten trabajar con datos. Los datos vienen en diversos formatos, sin embargo, los mas comunes son las planillas de excel y/o archivos .csv

Estos archivos tienen en comun en que su estructura es de tablas (con filas y columnas). En python la libreria por excelencia que nos permite leer este tipo de archivos es Pandas y, en particular, la estructura DataFrame

In [1]:
import pandas as pd

En general, un Frame es una manera de guardar datos en grillas con columnas y filas (tal como las plantillas de excel). Un DataFrame es un arreglo de dos dimensiones (filas y columnas). Existen diversas maneras de crear un DataFrame: 

1. A mano
2. A partir de una lista de numeros o de una lista de listas
3. A partir de archivos externos

## Creando DataFrames

In [2]:
# Creacion manual de DataFrame a partir de un diccionario

d = {'col1': [1, 2], 'col2': [3, 4]}

In [4]:
print(d)

{'col1': [1, 2], 'col2': [3, 4]}

In [5]:
df = pd.DataFrame(data=d)

In [6]:
df

   col1  col2
0     1     3
1     2     4

In [15]:
alumnos = {"Nombre": ["Tamara", "Johnny", "Francisca"], "Edad": [27,28,24]}

In [16]:
df_alumnos = pd.DataFrame(data=alumnos)

In [19]:
df_alumnos

      Nombre  Edad
0     Tamara    27
1     Johnny    28
2  Francisca    24

In [18]:
df_alumnos.describe()

            Edad
count   3.000000
mean   26.333333
std     2.081666
min    24.000000
25%    25.500000
50%    27.000000
75%    27.500000
max    28.000000

### Lectura de planillas excel

Para leer archivos de excel, usamos el metodo read_excel de pandas. Este metodo soporta archivos con extensiones xls, xlsx, xlsm, xlsb, odf, ods y odt. Documentacion en: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [20]:
data_1 = pd.read_excel("sample.xls", sheet_name="Hoja1")

In [21]:
data_1

     Height(Inches)  Weight(Pounds)
0             65.78          112.99
1             71.52          136.49
2             69.40          153.03
3             68.22          142.34
4             67.79          144.30
..              ...             ...
195           65.80          120.84
196           66.11          115.78
197           68.24          128.30
198           68.02          127.47
199           71.39          127.88

[200 rows x 2 columns]

read_excel() carga la hoja del archivo Excel en una estructura de datos llamada DataFrame.

In [22]:
data_1.describe()

       Height(Inches)  Weight(Pounds)
count      200.000000      200.000000
mean        67.949800      127.221950
std          1.940363       11.960959
min         63.430000       97.900000
25%         66.522500      119.895000
50%         67.935000      127.875000
75%         69.202500      136.097500
max         73.900000      158.960000

In [23]:
data_2 = pd.read_excel("sample.xls", sheet_name="Hoja2")

In [24]:
data_2

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3   Unnamed: 4
0          NaN        NaN        NaN        NaN          NaN
1          NaN        NaN        NaN        NaN          NaN
2          NaN        NaN        NaN        NaN          NaN
3          NaN        NaN        NaN        NaN          NaN
4          NaN        NaN        NaN        NaN          NaN
..         ...        ...        ...        ...          ...
116        4.8          3        1.4        0.3  Iris-setosa
117        5.1        3.8        1.6        0.2  Iris-setosa
118        4.6        3.2        1.4        0.2  Iris-setosa
119        5.3        3.7        1.5        0.2  Iris-setosa
120          5        3.3        1.4        0.2  Iris-setosa

[121 rows x 5 columns]

In [25]:
data_2.describe()

        Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3   Unnamed: 4
count          101         101       101.0       101.0          101
unique          29          24        29.0        16.0            3
top              5           3         1.5         0.2  Iris-setosa
freq            10          14        14.0        28.0           50

In [26]:
data_3 = pd.read_excel("sample.xls", sheet_name="Hoja3")

In [27]:
data_3

Empty DataFrame
Columns: []
Index: []

In [28]:
data_3.describe()

ValueError: Cannot describe a DataFrame without columns

### Lectura de archivos .csv

In [29]:
data_4 = pd.read_csv("winemag-data-130k-v2.csv")

In [30]:
data_4

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## Algunos metodos utiles

Nombres de las columnas

In [17]:
data_4.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

Primeras 5 filas

In [31]:
data_4.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Resumen del dataframe, tenemos el metodo describe().

Documentacion en: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [32]:
data_4.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [33]:
data_4.describe(include="all")

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
count,129971.000000,129908,129971,92506,129971.000000,120975.000000,129908,108724,50511,103727,98758,129971,129970,129971
unique,NaN,43,119955,37979,NaN,NaN,425,1229,17,19,15,118840,707,16757
top,NaN,US,"Ripe plum, game, truffle, leather and menthol ...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Roger Voss,@vossroger,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Wines & Winemakers
freq,NaN,54504,3,2009,NaN,NaN,36247,4480,11065,25514,25514,11,13272,222
mean,64985.000000,NaN,NaN,NaN,88.447138,35.363389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,37519.540256,NaN,NaN,NaN,3.039730,41.022218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,32492.500000,NaN,NaN,NaN,86.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,64985.000000,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,97477.500000,NaN,NaN,NaN,91.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,129970.000000,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#