# Preprocesamiento de datos

In [2]:
# agregamos las librerias

import pandas as pd

## Cargamos los datos en un dataframe

In [9]:
df1 = pd.read_excel("data\datos_alumnos.xls", sheet_name='Alumnos')

In [10]:
df2 = pd.read_excel("data\datos_alumnos.xls", sheet_name='Notas')

In [11]:
df1

       nombre   apellido  num_alumno     genero
0      Tamara  Cucumides    16253829   Femenino
1      Olivia    English    17594494   Femenino
2        Emma    Johnson    14625305        fem
3         Ava   Williams    15380714          F
4   Charlotte      Brown    18633814          F
5      Sophia      Jones    17276866   Femenino
6      Amelia     Garcia    19471170   Femenino
7    Isabella     Miller    19556222   Femenino
8         Mia      Davis    14615143   Femenino
9      Evelyn  Rodriguez    18713587   Femenino
10     Harper   Martinez    14632920   Femenino
11       Liam  Hernandez    18992095  Masculino
12       Noah      Lopez    18770760          m
13     Oliver   Gonzales    17796954  Masculino
14     Elijah     Wilson    18613793  Masculino
15    William   Anderson    15125397  Masculino
16      James     Thomas    15148228  Masculino
17   Benjamin     Taylor    16901812  Masculino
18      Lucas      Moore    18110785  Masculino
19      Henry    Jackson    19745286  Masculino
20  Alexander     Martin    16570313  Masculino

In [12]:
df2

    num_alumno   c1   c2   c3
0     16253829  4.2  3.6  4.1
1     17594494  4.0  3.2  7.0
2     14625305  5.4  3.6  4.8
3     15380714  3.3  3.0  6.2
4     18633814  6.4  5.7  3.3
5     17276866  3.6  3.9  2.9
6     19471170  5.9  5.4  5.9
7     19556222  4.5  2.4  2.6
8     14615143  2.3  2.8  2.9
9     18713587  5.6  3.1  4.6
10    14632920  5.0  7.0  5.4
11    18992095  6.5  2.0  2.8
12    18770760  3.1  2.9  2.3
13    17796954  2.2  2.3  2.0
14    18613793  3.7  6.3  4.2
15    15125397  5.3  6.2  2.3
16    15148228  2.7  4.5  6.9
17    16901812  3.5  2.2  4.1
18    18110785  4.9  4.5  5.4
19    19745286  4.6  3.0  3.5
20    16570313  4.0  5.2  6.1

## Juntamos los datos

## Limpiamos la columna de Genero

## Creamos columna Promedio

## Creamos columna de Eximicion